<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is the home page</h1>

    <h3>
        <%= 1+2 %>
        <%= " md azad khan".toUpperCase() %>
        <%= ["azad", "sana"][1].toUpperCase() %>
    </h3>

    

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, expedita voluptate temporibus modi delectus fugiat debitis nisi corporis necessitatibus tempora.</p>
    <button>Click me!</button>
</body>
</html>