<%- include("includes/head.ejs") %>
<body>
    <h3>
        roll dice like ludo : 
        
        <!-- <%= Math.floor(Math.random()*6)+1 %> -->
        <%= rolldice %>
    </h3>

    <%- include("includes/footer.ejs") %>
</body>
</html>